/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style-type: none;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




.logo{

    width:7em;
    height:7em;

    
}
.logo img{
    width: 7em;
    height: 7em;
}


header {
    display: flex;
    justify-content: space-between;
}

.gnav{
    display:flex;
    align-items:center;
    padding:2em 0em;
}

.gnav ul{
    display: inline-flex;
}

.gnav li{
    list-style: none;
    text-align:center;
    width: 14em;
}

.gnav li  a{
    font-size: 1.5em;
    text-decoration: none;
}

.inner{
    padding-top:2em;
}

.inner img{
    width:100%;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding:5em 0em;
}

.container p{
    margin:0 auto;
    padding: 1em 0em;
}

.explanation{
    text-align:center;
}

article{
    display: flex;
    flex-wrap: wrap;
}

main{
    display:flex;
    flex-flow:column;

    width: 50em;
    margin: 0 auto;
}

main h1,h2{
    padding:1em 0em;
}

main h1{
    font-size:2em;
}



main img{
    width: 200px;
    height: 200px;
}
.aside{
    margin:0 auto;
    width:300px;
}

.aside img{
    width: 300px;
    height: 300px;
}

aside{
    display:flex;
    flex-flow:column;
    
    margin:0 auto;

    text-align:center;
}


.bside .profile{
    text-align:center;
    display:flex;
    flex-flow:column;
}

.profile img{
    border-radius:50%;

    width: 200px;
    height: 200px;
}
.bside img{

    width: 200px;
    height: 200px;

    margin:0 auto;
}

.bside-nav{
    width:200px;

    display:flex;
    flex-wrap:wrap;
}


footer{
    height: 5em;
    background-color:lightgray;
}

footer p{
    text-align:center;
}

.dropdown{
    display:none;
}

.btn_dropdown{
    border-color:transparent;
    border-radius:4px;

    position:absolute;


        top: 0px;
        right: 0px;
        transition: .5s;
        z-index: 2;
}


@media screen and (max-width:1024px){

    .gnav{
        display:none;
    }

    .dropdown{
        display: block;
        margin: 0 0 0 auto;
        position: relative; 
        z-index: 3;

    }

    .dropdown_body{
       
        width: 0;
        background:#fff;
        border-radius:4px;
        box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
        position:absolute;
        top: 0px;
        right: 0px;
        transition: .5s;
        z-index: -1;

    }

    .dropdown_body ul{
        height: 100vh;
    }

    .dropdown li{
        overflow-x: hidden;
    }

    .dropdown_link{
        display: block;
        width: 100%;
        text-decoration: none;
        padding:1em 0em;
        text-align: center;
        line-height: 1;
        white-space: nowrap;
    }

    .btn_dropdown.is-open + .dropdown_body{

        width: 400px;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.5);

    }



}